.post-page {
    padding: 60px;
    background-color: aquamarine;
}
.grid{
    position: absolute;
    top: 150px;
    left: 150px;
    border-radius: 3px;
    border: 1px silver;
    background-color:wheat;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;

}
.post-user {
    position: absolute;
    top: 10px;
    padding: 16px;
    align-items: center;
}
.post-user-avatar {
    width: 30px;
    height: 30px;
}
.post-user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
.post-user-name {
    margin-left: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.post-image-background {
    background-color: grey;
}
.post-image img {
    display: block;
    width: 100%;
}
.post-caption {
    padding: 16px 16px;
}

/* this is grid 2's styling */
.grid-2{
    position: absolute;
    top: 850px;
    left: 150px;
    border-radius: 3px;
    border: 1px silver;
    background-color:wheat;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;

}

.post-user-grid-2 {
    position: absolute;
    top: 85 0px;
    padding: 16px;
    align-items: center;
}
.post-user-avatar-grid-2 {
    width: 30px;
    height: 30px;
}
.post-user-avatar-grid-2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
.post-user-name-grid-2 {
    margin-left: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.post-image-background-grid-2 {
    background-color: grey;
}
.post-image-grid-2 img {
    display: block;
    width: 100%;
}
.post-caption-grid-2 {
    padding: 16px 16px;
}



/* this is grid 3's styling */
.post-user-grid-3 {
    position: absolute;
    top: 1400px;
    left: 490px;
    padding: 16px;
    align-items: center;
}
.post-user-avatar-grid-3 {
    width: 30px;
    height: 30px;
}
.post-user-avatar-grid-3 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
.post-user-name-grid-3 {
    margin-left: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.post-image-background-grid-3 {
    background-color: grey;
}
.post-image-grid-3 img {
    display: block;
    width: 100%;
}
.post-caption-grid-3 {
    padding: 16px 16px;
}

/* this is grid 4's styling. */
.grid-4 {
    position: absolute;
    top: 2000px;
    left: 490px;
    padding: 16px;
    align-items: center;
}
.post-user-avatar-grid-4 {
    width: 30px;
    height: 30px;
}
.post-user-avatar-grid-4 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
.post-user-name-grid-4 {
    margin-left: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.post-image-background-grid-4 {
    background-color: grey;
}
.post-image-grid-4 img {
    display: block;
    width: 100%;
}
.post-caption-grid-4 {
    padding: 16px 16px;
}

